@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Nunito:wght@300;400;500&family=Poppins:wght@200;400&family=Ubuntu:wght@300&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import "./styles/commonClasses.css";
@import "./styles/variables.css";

body {
  margin: 0;
  font-family: 'Nunito' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
